<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Your Name</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input #name1 class="form-control" placeholder="Enter Your Name" >
          <br>
          <br>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="modal.close(save(name1.value))" >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()" >Close</button>
  </div>

</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Enter Your Name</button>

<hr>
<pre>{{a}}</pre>
<pre>{{c}}{{age}}</pre>

